USE [master]
GO
/****** Object:  Database [L10]    Script Date: 07/12/18 11:07:40 PM ******/
CREATE DATABASE [L10]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'L10', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\L10.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'L10_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\L10_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [L10].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [L10]
GO
/****** Object:  Table [dbo].[CAYXANH]    Script Date: 07/12/18 11:07:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CAYXANH](
	[MaCay] [nvarchar](50) NOT NULL,
	[TenCay] [nvarchar](50) NOT NULL,
	[MaLoai] [nvarchar](50) NOT NULL,
	[ChieuCao] [float] NOT NULL,
	[NgayTrong] [date] NOT NULL,
	[TuyenDuong] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_CAYXANH] PRIMARY KEY CLUSTERED 
(
	[MaCay] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LOAICAY]    Script Date: 07/12/18 11:07:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAICAY](
	[MaLoai] [nvarchar](50) NOT NULL,
	[TenLoai] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_LOAICAY] PRIMARY KEY CLUSTERED 
(
	[MaLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NGUOIDUNG]    Script Date: 07/12/18 11:07:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NGUOIDUNG](
	[UserName] [nvarchar](50) NOT NULL,
	[PassWord] [nvarchar](50) NOT NULL,
	[HoTen] [nvarchar](50) NULL,
	[NgaySinh] [date] NULL,
	[SDT] [nvarchar](20) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[DiaChi] [nvarchar](100) NULL,
	[GioiTinh] [bit] NULL,
	[Quyen] [int] NOT NULL,
	[CMT] [nvarchar](10) NULL,
 CONSTRAINT [PK_NGUOIDUNG] PRIMARY KEY CLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TIENTRINHPHATTRIEN]    Script Date: 07/12/18 11:07:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIENTRINHPHATTRIEN](
	[MaTienTrinh] [nvarchar](50) NOT NULL,
	[MaCay] [nvarchar](50) NOT NULL,
	[ThoiGian] [date] NOT NULL,
	[ChieuCao] [float] NOT NULL,
	[TrangThai] [nvarchar](50) NOT NULL,
	[GhiChu] [nvarchar](max) NULL,
 CONSTRAINT [PK_TIENTRINHPHATTRIEN] PRIMARY KEY CLUSTERED 
(
	[MaTienTrinh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
INSERT [dbo].[CAYXANH] ([MaCay], [TenCay], [MaLoai], [ChieuCao], [NgayTrong], [TuyenDuong]) VALUES (N'bang', N'Cây Bàng', N'bongmat', 100, CAST(N'2015-05-06' AS Date), N'Bà Triệu')
INSERT [dbo].[CAYXANH] ([MaCay], [TenCay], [MaLoai], [ChieuCao], [NgayTrong], [TuyenDuong]) VALUES (N'bang123', N'Banhggg', N'hoa', 123, CAST(N'1970-01-01' AS Date), N'ngu binh')
INSERT [dbo].[CAYXANH] ([MaCay], [TenCay], [MaLoai], [ChieuCao], [NgayTrong], [TuyenDuong]) VALUES (N'cay1', N'Cây 1', N'loai1', 50, CAST(N'2018-09-20' AS Date), N'Hùng Vương')
INSERT [dbo].[LOAICAY] ([MaLoai], [TenLoai]) VALUES (N'bongmat', N'Bóng Mát')
INSERT [dbo].[LOAICAY] ([MaLoai], [TenLoai]) VALUES (N'hoa', N'Hoa')
INSERT [dbo].[LOAICAY] ([MaLoai], [TenLoai]) VALUES (N'loai1', N'Loại 1')
INSERT [dbo].[NGUOIDUNG] ([UserName], [PassWord], [HoTen], [NgaySinh], [SDT], [Email], [DiaChi], [GioiTinh], [Quyen], [CMT]) VALUES (N'ducpham', N'123', N'Phạm Minh Đức', CAST(N'1997-06-02' AS Date), N'0764545304', N'pmduc97@gmail.com', N'Quảng Nam', 1, 0, N'123456789')
INSERT [dbo].[NGUOIDUNG] ([UserName], [PassWord], [HoTen], [NgaySinh], [SDT], [Email], [DiaChi], [GioiTinh], [Quyen], [CMT]) VALUES (N'trongdai', N'123', N'Trọng Đại123', CAST(N'1970-01-01' AS Date), N'123', N'123', N'123', 1, 1, N'123')
INSERT [dbo].[NGUOIDUNG] ([UserName], [PassWord], [HoTen], [NgaySinh], [SDT], [Email], [DiaChi], [GioiTinh], [Quyen], [CMT]) VALUES (N'trongduc', N'123', N'Thân Trọng Đức', CAST(N'1997-01-01' AS Date), N'0700000000', N'ducthan@gmail.com', N'Huế', 1, 1, N'123456789')
ALTER TABLE [dbo].[CAYXANH]  WITH CHECK ADD  CONSTRAINT [FK_CAYXANH_LOAICAY] FOREIGN KEY([MaLoai])
REFERENCES [dbo].[LOAICAY] ([MaLoai])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CAYXANH] CHECK CONSTRAINT [FK_CAYXANH_LOAICAY]
GO
ALTER TABLE [dbo].[TIENTRINHPHATTRIEN]  WITH CHECK ADD  CONSTRAINT [FK_TIENTRINHPHATTRIEN_CAYXANH] FOREIGN KEY([MaCay])
REFERENCES [dbo].[CAYXANH] ([MaCay])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TIENTRINHPHATTRIEN] CHECK CONSTRAINT [FK_TIENTRINHPHATTRIEN_CAYXANH]
GO
USE [master]
GO
